/* Color Theme Swatches in Hex
 .Wilderness-1-hex { color: #6393A6; }
.Wilderness-2-hex { color: #BF785E; }
.Wilderness-3-hex { color: #F2CBBD; }
.Wilderness-4-hex { color: #A65B4B; }
.Wilderness-5-hex { color: #733B36; } 
*/

.Wilderness-1 {
  color: #6393a6;
}
.Wilderness-1-opacity {
  color: #6393a644;
}
.Wilderness-2 {
  color: #bf785e;
}
.Wilderness-2-opacity {
  color: #bf785e44;
}
.Wilderness-3 {
  color: #f2cbbd;
}
.Wilderness-3-opacity {
  color: #f2cbbd44;
}
.Wilderness-4 {
  color: #a65b4b;
}
.Wilderness-4-opacity {
  color: #a65b4b44;
}
.Wilderness-5 {
  color: #733b36;
}
.Wilderness-5-opacity {
  color: #733b3644;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Cinzel", sans-serif;
  font-weight: 300;
  color: #f2cbbd;
  line-height: 1.9;
  background-color: #f3f3f3;
}

button {
  display: inline-block;
  background-color: #6393a6;
  color: #f2cbbd;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 700;
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
}

button:hover {
  background-color: #f2cbbd;
  color: #6393a6;
}
header {
  display: flex;
  height: 100vh;
  /* padding: 0 3rem; */
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  height: 9rem;
  width: 100%;
  /* background-color: #a65b4b; */
  background-color: #733b36;
}
.nav-logo {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 100%;
}
.nav-logo-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.nav-links {
  display: flex;
  gap: 1.25rem;
  align-items: center;
}
.nav-links > a {
  text-decoration: none;
  color: #f2cbbd;
  font-size: 1.6rem;
  font-family: inherit;
  font-weight: 700;
}
.nav-links > a:hover {
  color: #6393a6;
}

.content-section-hero {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-section,
.hero,
.content,
.nav-bar {
  border: 1px solid yellowgreen;
}
